@use "./mixins";

// PROMOTION
@include mixins.feature-card(
  $name: "promotion",
  $background-color: #e9f5f3,
  $title-color: #323454,
  $box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.15)
) {
  @apply rounded-none;
  padding: 25px 0px;
  .bonuscard {
    &__card {
      margin: 0 auto;
      @apply w-[250px] h-[361px] !important;
    }

    &__img {
      box-shadow: 0 0.1875rem 0 0 rgba(0, 0, 0, 0.75) !important;
    }

    &__title {
      @apply font-roboto font-normal text-[18px] leading-none uppercase;
    }

    &__description {
      @apply font-roboto font-bold text-[26px] leading-[30px] text-white;
    }

    &__content {
      @apply bottom-0 !important;
    }
  }
}

// TOURNAMENT
@include mixins.feature-card(
  $name: "tournament",
  $background-color: none,
  $title-color: #323454,
  $box-shadow: none
) {
  padding: 25px 0px;
  .bonuscard {
    &__card {
      @apply w-[250px] h-[402px] !important;
    }

    &__title {
      @apply font-roboto text-white font-normal text-[18px] leading-none uppercase;
    }

    &__description {
      @apply font-roboto font-bold text-[26px] leading-[30px] text-white;
    }

    &__content {
      @apply bottom-0 !important;
    }
  }
}

// VIP
@include mixins.feature-card(
  $name: "vip",
  $background-color: #323454,
  $title-color: #fff,
  $box-shadow: none
) {
  @apply rounded-none;
  padding: 25px 0px;
}

// FEEDBACK
@include mixins.feature-card($name: "feedback") {
  @apply justify-start h-auto;
  .feature-card__title {
    padding: 1.5625rem; // 25px
  }
}

// RECOMENDED
@include mixins.feature-card(
  $name: "recomended",
  $background-color: #d7edee,
  $box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15)
) {
  // padding: 1.5625rem 0.625rem; // 25px 10px
  width: 22.1875rem !important; // 355px
  height: 32.5rem !important; // 520px
  margin: 0 auto;
  border-radius: 1.125rem; // 18px
}

// LIVE GAMES
@include mixins.feature-card(
  $name: "livegames",
  $background-color: #e4d9fd,
  $box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15)
) {
  // padding-left: 1.25rem; // 20px
  width: 22.1875rem !important;
  height: 25.75rem !important; // 412px
  margin: 0 auto;
  border-radius: 1.125rem;
  // .feature-card__inner {
  //   margin: 1rem 0;
  // }
}

// WINNERS
@include mixins.feature-card(
  $name: "winners",
  $background-color: #fff5de,
  $box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15)
) {
  width: 22.1875rem !important;
  height: 26rem !important;
  margin: 0 auto;
  border-radius: 1.125rem;
  padding-top: 0.625rem; // 10px
}

// HOTNCOLD
@include mixins.feature-card(
  $name: "hotncold",
  $background-color: #cc4e2e,
  $box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15)
) {
  background-image: linear-gradient(180deg, #000 0%, #ff1800 100%);
  width: 22.1875rem !important;
  height: 26rem !important;
  margin: 0 auto;
  border-radius: 1.125rem;

  .background,
  .firecorner,
  .fire-video {
    @apply absolute w-full h-full inset-0;
    object-fit: cover;
    mix-blend-mode: screen;
    pointer-events: none;
  }
  .firecorner {
    width: 24.625rem; // 394px
    height: 13.9375rem; // 223px
    right: -11.0625rem; // -177px
    top: 12.125rem; // 194px
  }
  .background {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .fire-video {
    transform: translateY(0.625rem); // 10px
  }
}

// JACKPOT
@include mixins.feature-card(
  $name: "jackpot",
  $background-color: #01adc4,
  $box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15)
) {
  padding: 2.1875rem 0.625rem; // 35px 10px
  width: 22.1875rem !important;
  height: 6.875rem !important; // 110px
  margin: 0 auto;
  border-radius: 1.125rem;
}
