.register-banner {
  @apply relative p-6 text-center text-white;

  background-image: url("@/assets/Rg_banner_bg.png");
  background-repeat: no-repeat;
  background-position: center;

  &__headline {
    @apply inline-block pb-4;
  }

  &__button-wrapper {
    @apply inline-block pb-1;
  }

  &__title {
    @apply font-robotoCondensed font-black leading-none text-center uppercase text-white;
    font-style: normal;
    font-size: 26px;
  }
}

.register-banner .framed-button {
  width: 252px;
}

.register-banner .framed-button__text {
  @apply font-robotoCondensed font-black;
  font-style: normal;
  font-size: 25px;
}
