.tabbed-card {
  @apply h-[26rem];

  &__container {
    @apply max-w-sm mx-auto;
  }

  &__tabs {
    @apply flex justify-center gap-[1.875rem] py-[0.625rem] px-[0.625rem] my-3;
  }

  &__tab-button {
    @apply text-white font-robotoCondensed font-extrabold text-[1.625rem] leading-none text-center uppercase;
    padding: 0.75rem 0 0.25rem 0;
    color: rgba(255, 255, 255, 0.65);

    &--active {
      @apply border-b-4 border-white rounded-none;
      color: #ffffff;
    }

    &--inactive {
      @apply opacity-70;
    }
  }

  &__list {
    @apply flex flex-col space-y-2 justify-center mx-auto w-[21.4375rem];
  }

  &__card {
    @apply flex items-center h-[6.5rem] p-1 gap-[0.875rem] rounded-[0.8125rem];
    background: rgba(118, 0, 0, 0.1);
  }

  &__image {
    @apply object-cover rounded-lg w-[4.375rem] h-[6rem];
    box-shadow: inset 0px 0.0625rem 0px rgba(255, 255, 255, 0.7);
    border-radius: 0.625rem;
  }

  &__info {
    @apply flex-1 text-left;
  }
}

.feature-card--hotncold .tabbed-card {
  &__title {
    @apply text-white font-roboto font-medium text-[1.125rem] leading-none;
  }

  &__percentage {
    @apply flex items-center space-x-1 font-roboto font-extrabold text-[1.125rem] text-white w-[7.5625rem] h-[2.625rem] gap-[0.625rem] rounded-[0.9375rem];
    background: linear-gradient(180deg, #e12f00 0%, #ff6200 100%);

    &--icon {
      @apply w-[2.375rem] py-1 px-[0.125rem] rounded-tl-[0.9375rem] rounded-bl-[0.9375rem];
      background: rgba(255, 255, 255, 0.2);

      img {
        @apply w-[2.125rem] h-[2.125rem];
      }
    }
  }
  &--COLD {
    .tabbed-card__percentage {
      background: linear-gradient(180deg, #7c04ec 0%, #00a3e4 100%) !important;
    }
  }
}

.feature-card--winners .tabbed-card {
  &__title {
    @apply text-white font-roboto font-medium text-[1.125rem] leading-none py-1;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: #232c49;
  }

  &__cash {
    @apply font-robotoCondensed text-[1.625rem] leading-[1] font-black uppercase;
    color: #c96732;
  }

  &__percentage {
    @apply flex items-center space-x-1 font-roboto font-extrabold text-[1.125rem] text-white w-[7.5625rem] h-[2.625rem] gap-[0.625rem] rounded-[0.9375rem];
    background: linear-gradient(180deg, #e12f00 0%, #ff6200 100%);

    &--icon {
      @apply w-[2.375rem] py-1 px-[0.125rem] rounded-tl-[0.9375rem] rounded-bl-[0.9375rem];
      background: rgba(255, 255, 255, 0.2);

      img {
        @apply w-[2.125rem] h-[2.125rem];
      }
    }
  }
  &--COLD {
    .tabbed-card__percentage {
      background: linear-gradient(180deg, #7c04ec 0%, #00a3e4 100%) !important;
    }
  }

  &__tab-button {
    @apply text-white font-robotoCondensed font-extrabold text-[1.625rem] leading-none text-center uppercase;
    padding: 0.75rem 0 0.25rem 0;
    color: #323454a6;

    &--active {
      @apply border-b-4 rounded-none;
      color: #323454;
      border-color: #b067ff;
    }

    &--inactive {
      @apply opacity-70;
    }
  }

  &__card {
    @apply flex items-center h-[6.5rem] p-1 gap-[0.875rem] rounded-[0.8125rem];
    background: #ffffff99;
  }
}
