.bonuscard__card {
  @apply relative;
  width: 14.0625rem !important;
  height: 20rem;
  .glared-button {
    @apply mx-auto text-[1.25rem]; // 20px
    width: 10.625rem; // 170px
    height: 2.625rem; // 42px
  }
}

.bonuscard__img {
  @apply block w-full h-full object-cover rounded-[1rem];
}

.bonuscard__content {
  @apply absolute left-0 w-full px-[1.1875rem] pt-[1.1875rem] pb-[1.1875rem] box-border z-[1] overflow-hidden;
  bottom: 0.5625rem; // 9px
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.bonuscard__title {
  @apply font-bold text-[0.875rem] mb-[0.625rem]; // 14px / 10px
}

.bonuscard__description {
  @apply font-bold text-[1.125rem] text-[#333] leading-[1.4] mb-[1.25rem]; // 18px / 20px
}
